@model CurrencyModel

@{
    ViewData["Title"] = "Data";
}
<link rel="stylesheet" type="text/css" href="~/css/Table.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="~/js/RequestHandler.ts"></script>
<script type="text/javascript" src="~/ts/RequestHandlerTs.js"></script>

<input type="button" value="Others to PLN" id="othersToPln" onclick="location.href='@Url.Action("Index", "Currency")'" />
<input type="button" value="PLN to others" id="plnToOthers" onclick="location.href='@Url.Action("PlnToOthers", "Currency")'" />
<input type="button" value="Others to PLN" id="othersToPlnTs" />
<input type="button" value="PLN to others" id="plnToOthersTs" />
<script></script>

<h1>Data</h1>
<div>State at @Model.Date</div>
<div>Base currency <b>@Model.Data.Base</b></div>
<div style="overflow-x:auto;">
    <table id="currencyTable">
        <tr>
            <th>Currency</th>
            <th>Value</th>
        </tr>
        @foreach (var prop in Model.Data.Rates.GetType().GetProperties())
        {
            if (prop.Name != "PLN")
            {
                <tr>
                    <td>@prop.Name</td>
                    <td>@prop.GetValue(Model.Data.Rates)</td>
                </tr>
            }
        }
    </table>
</div>